{
    "type": "set_user_info",
    "data": {
        "userName": "Alex",
        "picture": "test"
    },
    "requestId": "47df9946afkjghdkfjghdfjg"
}

{
    "type": "get_user_info",
    "data": {
        "userId": "d8ec4ec528314c06b2928d878dc2dac4"
    },
    "requestId": "48df9946afkjghdkfjghdfjg"
}

{
    "type": "set_group_info",
    "data": {
        "groupName": "testgroup"
    },
    "requestId": "42df9946afkjghdkfjghdfjg"
}

{
    "type": "get_group_info",
    "data": {
        "groupId": "33dc23c09afa498e959c44d51d4b66a5"
    },
    "requestId": "48df9946afkjghdkfjghdfjg"
}

{
    "type": "join_group",
    "data": {
        "groupId": "53567da64f444044a447b7797efbe2a9"
    },
    "requestId": "59df9946afkjghdkfjghdfjg"
}

{
    "type": "leave_group",
    "data": {
        "groupId": "53567da64f444044a447b7797efbe2a9"
    },
    "requestId": "60df9946afkjghdkfjghdfjg"
}